+++
title = "Kubernetes Techlab"
linkTitle = "Kubernetes Techlab"

+++

{{< blocks/cover title="Welcome to our Kubernetes Techlab" image_anchor="top" height="max" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}
[Kubernetes (K8s)](https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/) is an open-source system for automating deployment, scaling, and management of containerized applications.

{{% /blocks/lead %}}

{{< blocks/section color="light">}}
{{% blocks/feature icon="fa-chalkboard-teacher" url="/slides/" title="Slides" %}}
Get the slides for this techlab
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-sliders-h" title="Labs" url="/docs" %}}
Start with your lab session
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-sliders-h" title="About" url="/about/" %}}

{{% /blocks/feature %}}


{{< /blocks/section >}}
